<form method="post" action="/products"> 
    <div>
        <label>Name</label>
        <input type="text" name="name">
    </div>
    <div>
        <label>Categories</label>
        <label>
            Pants
            <input type="checkbox" name="categories" value="pants">
        </label>
        <label>
            Shorts
            <input type="checkbox" name="categories" value="shorts">
        </label>
        <label>
            Swimswear
            <input type="checkbox" name="categories" value="swimwear">
        </label>
    </div>
    <div>
        <label>Price</label>
        <input type="number" name="price">
    </div>
    <div>
        <input type="submit" value ="create product">
    </div>
</form>